<p id="message">none</p>
<script>
  var oXHR = new XMLHttpRequest();  
  oXHR.open("GET", "/", true);
  //oXHR.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  oXHR.setRequestHeader("X-Requested-With", "XMLHttpRequest");
  oXHR.onreadystatechange = function (oEvent) {  
    if (oXHR.readyState === 4) {  
      if (oXHR.status === 200) {
        document.querySelector('#message').innerHTML = 'ok';
        console.log(oXHR.responseText)  
      } else { 
        document.querySelector('#message').innerHTML = 'fail'; 
        console.log("Error", oXHR.statusText);  
      }  
    }  
  };  
  oXHR.send(null);
</script>

